
.nav {
  background-color: rgb(252, 243, 166);
  list-style-type: none;
  float: center; 
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  
}


.nav li {
  display: inline-block;
  text-align: right; 
  font-size: 18px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  
  }

.navmarg {
  margin-right: 150px;
}

.logo {
  float: center; 
  margin-left: 150px;
  text-align: center;
  padding: 9px 0px;
}

.blueFont {
  color:rgb(53, 128, 189);
}

.yellowFont {
  color:rgb(226, 197, 65);
}

.welcome {
  text-align: center;
}

h1 {
  color:#585858;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
}

h2 {
  color:#585858;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.title {
  text-align: center;
  color:#e49f38;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

p {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.halfGrid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
margin: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(252, 243, 166);
}


li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #6bac65;
}

.active {
  background-color: #e49f38;
}

footer {
  font-family: 'Poppins', sans-serif;
  background-color: #fdcb7f;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
 }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.mainBody {
  margin-right: 150px;
  margin-left: 150px;
}

.footer {
  margin-right: 150px;
  margin-left: 150px;
}

.responsive {
  width: 100%;
  height: auto;
}  


.img { 
  position:relative;
  width: 100%;
  
}

 
.button {
  border: none;
  color: rgb(37, 47, 54);
  background-color: #9eddf1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 5px 5px;
}

.button1 {
  border: 2px solid #94c9f5;
  color: rgb(37, 47, 54);
  background-color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 5px 5px;
  
}


.projectCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.imgPadding {
  padding: 2%;
  margin: 3%;
}

.bloomColor {
  color:rgb(77, 148, 60);
}
.angelColor {
  color:rgb(235, 102, 120);
}

.dreamColor{
  color:rgb(171, 92, 196);
}

.button:hover {
  background-color:#f294f5;
}

.button1:hover {
  background-color:#94daf5;
}